<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C_3Bimestre.Properties.Settings.db_250608ConnectionString"
            connectionString="Data Source=172.16.255.252;Initial Catalog=db_250608;User ID=250608;Password=LLm@r123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="C_3Bimestre.Properties.Settings.db_250685ConnectionString"
            connectionString="Data Source=172.16.255.252;Initial Catalog=db_250685;User ID=250685;Password=A12345678a;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>